{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div class = "bg-gray container-lg">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>Making gene sequencing process simple, portable and scalable</p>
  </div>
  <div id="action-buttons">
    <a class="button outline big" href="/docs/about/kubegene" onclick="_gaq.push(['_trackEvent', 'kubegene', 'github']);">Getting started</a>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Kubernetes" height="200" src="{{ "kubernetes-200.png" | relURL }}" >
        </figure>
        <h3>Kubernetes</h3>
        <p>The KubeGene is dedicated to making gene sequencing process simple, portable and scalable. It provides a complete solution for gene sequencing on the kubernetes and supports mainstream biological gene sequencing scenarios. KubeGene is based on lightweight container technology and official standard algorithms.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Universal Grammar" height="200" src="{{ "universal.png" | relURL }}" >
        </figure>
        <h3>Universal Grammar</h3>
        <p>KubeGene provides a complete set of gene sequencing workflow grammars which decouples with specific analysis tools. It requires a very low learning cost to learn how to write and use the workflow. You can easily migrate the gene sequencing business to KubeGene.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Community" height="200" src="{{ "apache.jpg" | relURL }}" >
        </figure>
        <h3>Community</h3>
        <p>KubeGene is licensed under <a href="https://opensource.org/licenses/Apache-2.0">Apache 2.0</a>.<br>
      KubeGene is absolutely free for personal or commercial use. We welcome contributors!</p>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}